body {
  background-color: #fff;
  margin:0;
}
main {
  background-color: #ff6600;
  width: 80%;
  margin: 0 auto;
  height: 100vh;
}
h1 {
  color: #fff;
  text-align: center;
  margin: 0 auto;
  padding-top: 15px;
}
p {
  background-color: #00A287;
  padding: 15px;
}
#form {
  width: 350px;
  margin: 0 auto;
  text-align: center;
}
.coef {
  width: 25px;
}
button {
  margin-left: 25px;
}